@mixin respond($breakpoint) {
    @if $breakpoint == extra-large-desktop {
      @media only screen and (min-width: 1500px) {
        @content;
      }
    }
    @if $breakpoint == large-desktop {
      @media only screen and (min-width: 1200px) and (max-width: 1499px) {
        @content;
      }
    }
    @if $breakpoint == small-desktop {
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        @content;
      }
    }
    @if $breakpoint == extra-large-mobile {
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        @content;
      }
    }
    @if $breakpoint == large-mobile {
      @media only screen and (max-width: 767px) {
        @content;
      }
    }
    @if $breakpoint == small-mobile {
      @media only screen and (max-width: 575px) {
        @content;
      }
    }
    @if $breakpoint == extra-small-mobile {
      @media only screen and (max-width: 479px) {
        @content;
      }
    }
}

%button-transparent {
    background-color: #ffffff00;
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, a 
{
    font-family: Arial, Helvetica, sans-serif;
}

.header-border {
    border-bottom: 1px solid #000;
}

.record-border {
    border-bottom: 1px solid #00000042;
}

.record-icon {
    width: 20px;
    height: 20px;
}

.main-flexbox {
    display: flex;
}

.main-container {
    display: block;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    box-sizing: border-box;
}

.vertical {
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 5px;
}

.flex-30 {
    flex: 0.3;
}

.flex-70 {
    flex: 0.7;
}

.flex-50 {
    flex: 0.5
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.6%;
}

.col-4 {
    width: 33.3%;
}

.weather-panel {
    padding-left: 20px;
    width: 45%;
    @include respond(small-mobile) {
        width: 65%;
    }
    @include respond(extra-small-mobile) {
        width: 100%;
    }
}

.content-center {
    width: 95%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    @include respond(extra-large-desktop) {
        width: 50%;
    }
    @include respond(large-desktop) {
        width: 65%;
    }
    @include respond(small-desktop) {
        width: 80%;
    }
}

.field-group {
    margin-right: 10px;
}

.primary-button {
    margin-right: 5px;
}

.alert-error {
    background-color: #fce3e3;
    border-color: #facccc;
    color: #8a3b3b;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #8a3b3bcc;
    border-radius: 4px;
    width: 100%;
    font-size: smaller;
}

.no-record {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: smaller;
}

.weather-title {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.btn-logo {
    &-light {
        @extend %button-transparent;
        border: 1px solid gray;
        color: gray;
    }
    &-dark {
        @extend %button-transparent;
        border: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
}